<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <span routerLink="/" style="cursor: pointer;"> Movie App </span>
  <span></span>
  <div fxLayoutGap="20px">
    <a mat-raised-button class="toolbar-button" routerLink="movie" routerLinkActive="mat-accent"> Movies </a>
    <a mat-raised-button class="toolbar-button" routerLink="tv" routerLinkActive="mat-accent"> TvShows </a>
    <a mat-raised-button class="toolbar-button" routerLink="person" routerLinkActive="mat-accent"> People </a>
    <a mat-raised-button class="toolbar-button" routerLink="search" routerLinkActive="mat-accent"> Search </a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>